.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 1%;
  background-color: hsla(0, 0%, 100%, 0.87);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #020202;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #FFFC14;
}

.burger {
  display: none;
}

/* Owl Carousel styles */
.owl-carousel .owl-item img {
  /* display: block; */
  width: 100%;
}

/* Section styles */
#download {
  height: 100vh;
  position: relative;
  z-index: -9999;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}


/*  */
#features {
  background-color: #f7f7f7;
  padding: 100px 0;
}

#features .container {
  max-width: 1200px;
  margin: 0 auto;
}

#features .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#features .col-md-6 {
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

#features .intro {
  margin-bottom: 50px;
}

#features .intro h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#features .intro p {
  font-size: 18px;
  line-height: 1.5;
}

#features .gallery .owl-carousel .item {
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#features .gallery .owl-carousel .item:hover {
  transform: scale(1.05);
}
